{% extends 'main_template.html' %}


{% block detail %}

<p><a href="{% url 'the-main-page' %}">
    <button type="button" class="btn btn-success">Главная страница</button>
</a></p>
<h1>{{ book.title }}</h1>
<h5>{{ book.data }}</h5>
<img src="{{ book.book_image.url }}">
<h3>{{ book.text }}</h3>
<h4>Genre:{{ book.genre.all }}</h4>
<h4>Authors:{{ book.authors.all }}</h4>

{{ book.rate }}
{% for i in range %}
    {% if book.rate >= i %}
        <a href="{% url 'add-rate-location' slug=book.slug rate=i location=1 %}">
            <span class="fa fa-star checked"></span>
        </a>
    {% else %}
        <a href="{% url 'add-rate-location' slug=book.slug rate=i location=1 %}">
            <span class="fa fa-star"></span>
        </a>
    {% endif %}
{% endfor %}

<p></p>
{% if book.is_owners %}
            <i><input type="button" class="btn btn-light" value="Belarus Live"></i>
            <a href="{% url 'del-book' slug=book.slug %}">
            <i><input type="button" class="btn btn-danger" value="Delete Book"></i>
            </a>
{% endif %}

{% for comment in book.comments.all %}
    <h4>{{ comment.text }}</h4>
    {% if comment.is_liked %}
        <span class="fa fa-star checked"></span>
    {% endif %}
    <h5>{{ comment.data }}</h5>
    <h6>{{ comment.author }}</h6>
    <h4>Like:{{ comment.users_likes.all }}</h4>
    <a href="{% url 'add-like' slug=book.slug comment_id=comment.id %}">
        <h4>Likes: {{ comment.likes_for_comment }}</h4>
    </a>
        {% if comment.is_owner %}
            <a href="{% url 'del-comment' slug=book.slug comment_id=comment.id %}">
            <i><input type="button" class="btn btn-danger" value="Delete Comment"></i>
            </a>
            <a href="{% url 'update-comment' slug=book.slug comment_id=comment.id %}">
            <i><input type="button" class="btn btn-light" value="Update Book"></i>
            </a>
        {% endif %}
{% endfor %}

{% if user.is_authenticated %}
<form action="{% url 'add-comment' slug=book.slug %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить коментарий">
</form>
{% endif %}
{% endblock %}
