{% extends 'main_template.html' %}

{% block main %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'register' %}">Register</a>
<a href="{% url 'profil' %}">ProfilUser</a>
{{ user }}<br>




<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Genre <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">

        {% for genre in gen %}
            <li><a href="{% url 'page-genre' genre=genre %}">{{ genre }}</a></li>
        {% endfor %}

    </ul>
  </div>

    {% for b in books %}
        <a href="{% url 'book-detail' slug=b.slug  %}"><h1>{{ b.title }}</h1></a>
        <h4>{{ b.data }}</h4>
        <h3>{{ b.text }}</h3>
        <h4>Authors: {{  b.authors.all|join:", " }}</h4>
        <h4>Genre: {{  b.genre.all|join:", "}}</h4>

        {{ b.rate }}
        {% for i in range %}
            {% if b.rate >= i %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star checked"></span>
                </a>
            {% else %}
               <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                   <span class="fa fa-star "></span>
               </a>
            {% endif %}
        {% endfor %}
        <h5>Rate: {{ b.users_likes.all|join:", "  }}</h5>
        <p></p>
        {% if b.is_owner %}
            <i><input type="button" class="btn btn-light" value="Belarus Live"></i>
            <a href="{% url 'del-book' slug=b.slug %}">
            <i><input type="button" class="btn btn-danger" value="Delete Book"></i>
            </a>
            <a href="{% url 'update-book' slug=b.slug %}">
            <i><input type="button" class="btn btn-light" value="Update Book"></i>
            </a>
        {% endif %}
    {% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'add-book' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить книгу">
</form>
{% endif %}

<div class="row">
    <div class="large-3 large-offset-5 colums">
        <ul class="pagination">
            {% if books.has_previous %}
                <li class="arrow"><a href="{% url 'the-main-page' %}?page={{books.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% if books.has_next %}
                <li class="arrow"><a href="{% url 'the-main-page' %}?page={{books.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}