{% extends 'main_template.html' %}

{% block genre %}

{{ user }}<br>
<p><a href="{% url 'the-main-page' %}">
    <button type="button" class="btn btn-success">Главная страница</button>
</a></p>
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Genre <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        {% for genre in gen %}
            <li><a href="{% url 'page-genre' genre=genre %}">{{ genre }}</a></li>
        {% endfor %}
    </ul>
  </div>

    {% for b in books %}
        <a href="{% url 'book-detail' slug=b.slug  %}"><h1>{{ b.title }}</h1></a>
        <h2>{{ b.data }}</h2>
        <h3>{{ b.text }}</h3>
        <h4>Authors: {{ b.authors.all }}</h4>
        <h3>Genres: {{ b.genre.all }}</h3>

        <p></p>
        {% if b.is_owner %}
            <i><input type="button" class="btn btn-light" value="Belarus Live"></i>
            <a href="{% url 'del-book' slug=b.slug %}">
            <i><input type="button" class="btn btn-danger" value="Delete Book"></i>
            </a>
            <a href="{% url 'update-book' slug=b.slug %}">
            <i><input type="button" class="btn btn-light" value="Update Book"></i>
            </a>
        {% endif %}
    {% endfor %}

{% endblock %}